.register_Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8; 
    width: 400px; 
    padding: 2rem;
    margin: 3rem auto; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 12px; 
}

.register_Title {
    font-size: 28px;
    margin-bottom: 1.5rem;
    color: #333; 
}

.register_Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
}

.register_Input {
    margin: 0.75rem 0; 
    padding: 0.75rem; 
    border: 1px solid #ddd; 
    border-radius: 6px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s; 
}

.register_Input:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.register_Input::placeholder {
    color: #888; 
}

.register_Button {
    padding: 0.75rem 1.5rem; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 6px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100%; /* Full width */
}

.register_Button:hover {
    background-color: #0056b3; 
}

.register_Para {
    margin-top: 1rem; 
    font-size: 14px; 
    color: #555; 
}

.register_Para a {
    color: #007BFF; 
    text-decoration: none; 
}

.register_Para a:hover {
    text-decoration: underline; 
}

.errorMessage {
    color: #d9534f; /* Bootstrap Danger Color */
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #d9534f;
    background-color: #f2dede; 
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%; 
}


.registering-text {
    color: #36d7b7; 
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    animation: fadeIn 1.5s infinite;
  }

  @keyframes fadeIn {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }